[Desktop Entry]
Type=Application
Name=Orbien Desktop
GenericName=Intranet Penetration Client
Comment=Orbien intranet penetration desktop client
Exec=orbien-desktop
Icon=orbien-desktop
Terminal=false
Categories=Network;Utility;
StartupNotify=true
Keywords=orbien;tunnel;
